@import "variables";

.blog {
  // max-width: 1000px;
  // margin: 0 auto;

  &__items {
    width: 100%;
    // max-width: 50em;
    // margin: 0 auto;
  }
  &__item {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
  }

  &__img {
    height: 40vh;

    & img {
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  &__info {
    border-bottom: 1px solid $light;
    padding: 1rem 0 0.5rem;
    background-color: rgb(255, 255, 255);
  }

  &__title {
    margin-bottom: 0.5rem;
  }
  &__date {
    color: $text;
    font-size: 0.875rem;
    font-style: italic;
    align-self: flex-end;
  }
  &__desc {
    color: $text;
  }
}

@media screen and (min-width: 600px) {
  .blog {
    &__item {
      flex-direction: row;
      margin-bottom: 2em;
    }
    &__img {
      margin-right: 1rem;
      flex: 1;
    }
    &__info {
      flex: 1;
      padding: initial;
    }
  }
}
