@import "variables";

.post {
  &__title {
    font-weight: 200;
  }
  &__author {
    display: inline-block;
    font-style: italic;
    font-size: 0.875rem;
    margin-top: 0.7rem;
  }
  &__content {
    & figure {
      margin-bottom: 1rem;
      height: 100%;
    }
    & h4 {
      margin-bottom: 1rem;
    }
  }
  &__description {
    color: $dark;
    font-size: 1.5rem;
    margin: 2rem 0 1rem;
  }
  &__img {
    height: 40vh;
    margin-bottom: 1rem;

    & img {
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
}
@media screen and (min-width: 37.5em) {
  .post {
    &__content {

        column-count: 2;
        column-gap: 2em;
        column-rule: solid 2px $light;

    }
    &__description {
      max-width: 37.5em;
    }
  }
}
