@import "variables";

.contact {
  width: 100%;
  padding: 0 1rem;
  border: none;
  border-radius: 15px;
  background-color: $mainbg;
  color: $text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    font-size: 2rem;
    color: $dark;
    margin-bottom: 1rem;
    font-weight: 200;
  }
  &__input {
    width: 100%;
    padding: 0.3rem 0.2rem;
    margin-bottom: 1.5rem;
    background-color: $mainbg;
    font-size: 1.125rem;
    color: $text;
    border: none;
    border-bottom: 1px solid $text;
    outline: none;
  }

  &__label {
    margin-bottom: 0.5rem;
    font-weight: 700;
  }

  &__btn {
    width: 100%;
    padding: 0.8rem 0;
    background-color: $accent;
    color: $mainbg;
    border: none;
    border-radius: 10px;
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: 700;
  }
}
@media screen and (min-width: 62.5em) {
  .contact {
    width: 40%;
    align-items: flex-start;
    padding: initial;
  }
}
