@import 'variables';
.home {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    min-height: 100vh;
    width: 100%;
    background: url("../assets/images/Living\ Room.jpg")center/cover;

    &__hero{
        flex-grow: 1;
    }
    &__title{
        font-size: 2rem;
        padding: 1rem;
        line-height: 0.8;
        text-transform: uppercase;
        letter-spacing: -3px;
        color: $light;
        background-color:$accent;
        text-align: end;
        margin-top: 5.2rem;
    }
    &__icons{
        background-color: $light;
        padding: 1rem;
        border-radius: 35px;
        align-self: flex-end;
        justify-self: flex-end;
        margin: 1.5rem;
    }
}