@import "variables";

.App {
  &__sidebar {
    width: 60%;
    max-width: 15rem;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: $mainbg;
    position: fixed;
    z-index: 100;
    border-right: 1px solid $light;
    transform: translateX(-100%);
    transition: all 0.25s ease-out;

    &.active{
      transform: translateX(0%);
    }
  }
  
  &__toggle {
    position: absolute;
    right: -3rem;
    top: 1.4rem;
    font-size: 2rem;
    color: $accent;
    padding-bottom: 0;
  }


}
@media screen and (min-width: 62.5em){
.App{
    &__content{
    width: calc(100% - 15rem);
    margin-left: auto;
  }
  &__sidebar{
    transform: translate(0);
  }
  &__toggle{
    display: none;
  }

}
}
