@import "variables";


  

  .nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__profile {
      width: 80%;
      margin-top: 1.5rem;

      img {
        width: 100%;
      }
    }
    &__footer {
      text-align: center;
    }

    &__items {
      width: 100%;
      text-align: center;
    }

    &__item {
      a {
        padding: 0.5rem 0;
        position: relative;
        color: $text;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 0%;
          height: 100%;
          background-color: rgba(94, 183, 255, 0.1);
          transition: 0.2s all ease-out;
        }
        &:hover::before {
          width: 100%;
        }
      }
      .active {
        background-color: $accent;
        color:$mainbg;
      }
    }
  }

