.page__margin{
    min-height: 100vh;
    max-width: 50em;
    margin:5.2rem 1rem 1rem;
}

@media screen and (min-width: 37.5em){
    .page__margin{
    margin:5.2rem 1rem 2rem;
}
}
@media screen and (min-width: 62.5em){
    .page__margin{
    margin:0 auto 2rem;
    padding: 0 1rem;
    }
}