.title {
  // float: right;
  font-size: 3rem;
  padding: 1rem;
  line-height: 0.8;
  text-transform: uppercase;
  letter-spacing: -3px;
  color: $mainbg;
  background-color: $accent;
  text-align: end;
  margin-bottom: 2rem;
}
